.slider-container,
.company-intro-container,
.species-info-container,
.advantages-section-container {
    margin: 0 auto;
    margin-top: 5rem;
}

.slider-container {
    width: 1200px;
}

.company-intro-container {
    height: 168px;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: var(--white);
}

.company-intro {
    font-size: 2em;
}

.species-info-container {
    width: 1110px;

    display: grid;
    gap: 30px;
    grid: 1fr 1fr / 1fr 1fr 1fr 1fr;
    grid-auto-flow: column;

    list-style-type: none;
}

.species-info-header {
    display: flex;
    flex-direction: column;
    align-items: center;

    grid-column-start: 2;
    grid-column-end: 4;
}

.text-accent {
    color: var(--green);
}

.species-info-header .catalogue-button {
    margin-top: 20px;
}

.text-accent,
.species-info-header h2 {
    font-size: 3rem;
    text-align: center;
}

.find-your-specie {
    margin-top: 37px;

    font-size: 2em;
}

.species-info-container li:last-child {
    grid-column-start: 4;
    grid-row-start: 1;
}

.species-info-container li:nth-child(5) {
    grid-column-start: 3;
    grid-row-start: 2;
}

.species-info-container li:nth-child(4) {
    grid-column-start: 2;
    grid-row-start: 2;
}

.species-info-container li:nth-child(3) {
    grid-row-start: 2;
}

.advantages-section-container {
    height: 345px;

    display: flex;
    justify-content: center;

    background-color: var(--white);
}

.advantages-wrapper {
    width: 1110px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.advantages-container {
    margin-top: 60px;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-content: space-around;
}

.our-advantages {
    font-size: 3em;
    text-align: center;
}