.cartpage-container {
    margin: 0 auto;
    width: 1110px;
}

.cart-header {
    margin-top: 5rem;

    font-size: 3em;
}

.cart-empty-message {
    margin-top: 3.125rem;

    font-size: 1.5em;
}

.cart-product-card-container {
    margin-top: 5rem;
    margin: 0 auto;

    width: 1110px;  
}

.cart-products {
    list-style-type: none;

    margin-top: 3.125rem;
}

.cart-products li {
    margin-top: 30px
}

