.products-header, 
.filter-container {
    width: 1110px;
    margin: 0 auto;
}

.filter-container {
    position: sticky;
    top: 96px;
}

.popular-products-container {
    margin-top: 5rem;
}

.products-header {
    margin-top: 5rem;

    font-size: 3em;
}