a {
    color: var(--white);
    text-decoration: none;
    font-size: 1.5em;
}

.active {
    color: var(--gray);
}

a:hover {
    color: var(--gray);
}

.search-container input {
    padding: .9375rem 2.8125rem;
    width: 17.5rem;

    border: none;
    border-radius: var(--border-radius);

    background: url("../../assets/search-icon.svg") no-repeat center left var(--white);
    background-position: .9375rem;
}

.header-wrapper {
    width: 1110px;

    margin: 0 auto;
}


.Header {
    padding: 5px 0px;

    position: sticky;
    top: 0;

    background-color: var(--brown);
    z-index: var(--ui-index-3);
}

.header-wrapper,
.pages-navigation,
.catalogue-navigation {
    display: flex;
    align-items: center;
}

.pages-navigation {
    margin-left: 5rem;
}

.pages-navigation .catalogue-link {
    margin-left: 2.5rem;
}

.catalogue-navigation {
    margin-left: auto;
    gap: 40px;
}

.logo-container {
    justify-self: flex-start;
}

.logo-container img {
    width: 80px;
    height: 80px;
}